# These are the required env variables (Ones without default values)
# Most env variables have default values that are non-sensitive and compability with my personal setup
# See app/config/settings.py for all available env variables

# See app/helpers/stealthDriver.py for info on how to get
DATA_DIRECTORY=
USER_AGENT=